@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-in {
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;

	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

html {
	scroll-behavior: smooth;
}

section {
	scroll-margin-top: 80px; /* Ajusta según la altura de tu navbar */
}
